<!-- body -->
<div class="content">
<table>
	<tr>
		<td>
		<table width="100%"><tr><td align="center">
			<p class="salutation">Hi {{.User.DisplayName}},</p>
		</td></tr></table>
		{{if .User.HasPassword}}
			<p>To reset your password, click the link below.  If you did
			not request your password to be reset, you can safely ignore this email.</p>
		{{else}}
			<p>A request was made to reset your password, however you do not currently have a password associated
			with your account.  Instead your account is associated with a 
			{{if .User.GoogleID}}
			Google account.  All you need to do to log in is click on the Google button at the Log in prompt.
			{{else if .User.FacebookID}}
			Facebook account.  All you need to do to log in is click on the Facebook button at the Log in prompt.
			{{else if .User.TwitterID}}
			Twitter account.  All you need to do to log in is click on the Twitter button at the Log in prompt.
			{{end}}</p>
		{{end}}
		<br>
		<div class="content">
		{{if .User.HasPassword}}
			<!-- button -->
			<table width="100%"><tr><td align="center">
			<table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
			<tr>
			<td>
			<a href="{{.URL}}">To reset your password click here</a>
			</td>
			</tr>
			</table>
			<p class="small">Note, that this link is only valid for 24 hours. </p>
			</td></tr>
			</table>
			<!-- /button -->
		{{else}}
			<!-- button -->
			<table width="100%"><tr><td align="center">
			<table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
			<tr>
			<td>
			<a href="{{url}}">Click here to log in</a>
			</td>
			</tr>
			</table>
			</td></tr>
			</table>
			<!-- /button -->
		{{end}}
		</div>
			<br>
			Thank You,
			<p class="signature">townsourced</p>

		</td>
	</tr>
</table>
</div>
<!-- /body -->
